name: release

on:
  release:
    types: [created]

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Compile and release
      uses: rust-build/rust-build.action@v1.4.5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
        RUSTTARGET: x86_64-unknown-linux-musl
        EXTRA_FILES: "README.md LICENSE"
